.contentContainer {
    background-color: #181a1f;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    scrollbar-width: none;
    scrollbar-color: inherit;
}