.contentContainer {
    background-color: #181a1f;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

}

h1 {
    color: white;
    padding: 10px;
}