.profile-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 0;
    min-height: 100%;
}

.profile-header-icon {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: white;
    padding: 10px;
}


.profile-header-icon div {
    padding: 13px;
    cursor: pointer;
    max-width: fit-content;

}

.profile-header-icon .mini-profile-icon {
    width: auto;
    height: auto;
    border-radius: 50%;
    background-color: #3F4652;
    position: relative;
    margin: auto 1%;
}

.profile-header-icon div:hover {
    color: blue;
}

.image-name-container {
    display: flex;
    flex-direction: row;
    color: white;

}

.image-container {
    padding: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #3F4652;
    margin: auto 15px auto 150px;
    position: relative;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0px;
    left: 0px;
}

.name-container {
    display: flex;
    flex-direction: column;
    margin: auto 0px;
}

.name-container p:not(:first-child) {
    line-height: 20px;
    font-weight: lighter;
}

.name-container p:first-child {
    font-weight: bold;
    font-style: italic;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 100px;
}

.info-container a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.info-container a:hover {
    color: blue;
}

.profile-container hr {
    color: white;
    margin: 10px 2%;
}

/* ################ Profile Body Styles ################# */

.profile-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2%;
    margin: 1% 2%;
}

.profile-body .profile-body-left {
    grid-column: 1;
    border-radius: 10px;
}

.profile-body .profile-body-right {
    grid-column: 2;
    background-color: #272C34;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 3%;
}

.profile-body-right h3 {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    /* margin: auto 1%; */
}

.profile-body .profile-body-left .profile-body-left-top {
    display: flex;
    flex-direction: column;

}

.general-info {
    display: flex;
    flex-direction: column;
    background-color: #272C34;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.general-info h3 {
    margin: auto 3%;
    font-weight: bold;
    font-size: 1.5rem;
}


.general-info-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

.general-info-item {
    background-color: #3F4652;
    border-radius: 20px;
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    height: auto;
}

.general-info-item-icon {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.general-info-item .value {
    font-weight: bold;
    text-align: center;
}

.general-info-item-icon .icon {
    font-size: 20px;
}

.profile-body-left-bottom {
    display: flex;
    flex-direction: row;
    gap: 10%;
    color: white;
    justify-content: space-between;
    margin: 3% 0% 0% 0%;
}

.card-list-container-list ul {
    padding-left: 10%;
}

.card-list-container h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto 3%;
}

.card-list-container {
    background-color: #272C34;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}

.card-list-container .card-list-container-list ul li::marker {
    color: blue;
}


.card-list-container-list li {
    list-style: disc;
}

.profile-body-bottom {
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: #272C34;
    margin-bottom: 5%;
    grid-column: span 2
}

.profile-body-bottom h3 {
    margin: auto 1%;
    font-weight: bold;
    font-size: 1.5rem;
}

.profile-body-bottom .previous-doctors-container {
    display: flex;
    flex-direction: row;
    gap: 1%;
    flex-wrap: wrap;
}

.previous-doctor-card {
    width: 22%;
    margin: 1%;
    background-color: #3F4652;
}

.previous-doctor-card .h5,
.previous-doctor-card p {
    text-align: center;
    margin-top: 3%;
}

.previous-doctor-card .h5 {
    color: #fff;
}

.previous-doctor-card p {
    color: #6f6f6f;
}