.sideBtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    min-width: 90%;
    max-height: 30%;
    align-content: center;
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
}

.sideBtn:hover {
    background-color: #eaeaea70;
}


#active {
    background-color: #eaeaea70;
}

.sideBtn p {
    color: white;
    padding: 5px;
    text-align: center;
    align-items: center;
    margin: auto 5px;
    font-size: 12px;
    font-weight: 400;
}

.sideBtn .notification {
    background-color: #3146FF;
    color: white;
    padding: 2px 5px;
    border-radius: 10%;
    font-size: 10px;
}