@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.FooterContainer {
    background-color: #272c34;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: fit-content;
}

.FooterContainer .contact {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;

}

.FooterContainer .contact .email-container {
    margin: auto;
    margin-bottom: 0px;
}

.FooterContainer .contact .email-container .email {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: large;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.FooterContainer .contact .phone-container {
    color: white;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    padding: 0px;
    margin: 0px;
}

.FooterContainer .contact .phone-container .phone {
    text-decoration: none;
    color: white;
}

.FooterContainer .logoContainer {
    max-width: fit-content;
    max-height: fit-content;
    align-content: center;
    margin: auto;
}

.FooterContainer .textLogo {
    color: white;
    padding: 10px;
    display: flex;
    text-align: center;
    font-size: large;
    margin: auto;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.FooterContainer .followContainer {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    align-content: center;
    padding: 10px;
    margin: 0px auto;
}

.followContainer h2,
.followContainer .iconContainer a {
    color: white;
    text-align: center;
    align-items: center;
    font-size: large;
    margin: auto;
    text-decoration: none;
    padding: 5px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.followContainer .iconContainer a:hover {
    color: blue;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: auto 10px;
    padding: 5px;
}