:root {
    --main-color: #2196f3;
    --alt-color: #1787e0;
    --darkBlack-color:#181a1f;
    --lightBlack:#272c34;
    --lightGray:#eaeaea;
    --white-color:#fff;
    --main-transition-duration: 0.6s;
}
header{
    background-color: var(--darkBlack-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    min-width: 100%;
}
header nav{
    min-width: 700px;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 20px;
}
header .li_div{
    width: fit-content;
    position: relative;
    margin: 0px 0px;
    display: block;
    text-align: center;
}
header .li_div li{
    width: 90%;
    list-style: none;
}
header .li_div a{
    color: white ;
    text-decoration: none ;
    font-size:1em ;
    font-weight: 500 ;
}
header .li_div::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: transparent;
    top: 25px;
    left: 0;
    transition: var(--main-transition-duration);
}
header .li_div:hover::before {
    width:100%;
    background-color: var(--main-color);
}

@media screen and (max-width: 850px) {

}