:root {
    --mainBlue-color: #3146ff;
    --altBlue-color: #1787e0;
    --darkBlack-color:#181a1f;
    --lightBlack:#272c34;
    --lightGray:#eaeaea;
    --white-color:#fff;
    --main-transition-duration: 0.6s;
}
section{
    max-width: 100%;
    min-height: 100vh;
    padding: 10px;
    overflow: hidden;
}
.H_section1{
    background-color: var(--lightBlack);

}
.my_container{
    margin-top: 4%;
    display: flex;
    justify-content:space-around ;
    align-items:center;
    padding: 2%;
    /* background-color: red; */
}
.H_section1_card{
    background-color: var(--lightBlack) !important;
    border:none !important
}
.H_section1_card h1{
    color: var(--white-color);
    font-size: 2em;
}
.H_section1_card p{
    color: var(--lightGray);
    font-size: 1.2em;
    padding: 10px;
    margin-bottom: 20%;
}
.H_section1_card button{
    width: 35%;
}
.H_section1 .img_div{
    width: 40%;
    max-height: 20%;
}

/* ==================== */
.H_section2{
    background-color: var(--darkBlack-color);
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    text-align: center;

}
.H_title{
    margin-top: 6%;
    margin-bottom: 30px;
}
.H_section2 .H_title{
    color: var(--white-color);
    font-size: 2.5em;
}
.H_section2 .overview{
    color: var(--lightGray);
    margin-top: 10px;
    padding: 20px;
    max-width: 70%;
}

/* ==================== */

.H_section3{
    background-color: var(--lightBlack);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
}
.H_section3_card{
    background-color: var(--darkBlack-color);
    margin: 15px;
    border-radius: 15px;
}
.H_section3 .H_title{
    color: var(--white-color);
    font-size: 2em;
}
.H_section3 P{
    color: var(--white-color);
    display: block;
    font-size: 19px;
    line-height: 26px;
    max-width: 100%;
}
.H_section3 .H_section3_card img{
    width: 40px;height: 40px;
    margin: 10px;
}
.H_section3 .H_section3_card p{
    margin-top: 10px;
    color: var(--lightGray);
    font-size: 17px;
}
.H_section3 .H_section3_card .h5{
    color: var(--white-color);
    font-size: 1.2em;
    margin: 1%;
}
/* =============================== */
.H_section4{
    background-color: var(--darkBlack-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
}
.H_section4 .my_container{
    display: flex;
    justify-content:left;

}
.H_section4_card{
    background-color: var(--darkBlack-color);
    margin: 0px;
    margin-left:8%;
    border: none;
}
.H_section4 .H_title{
    color: var(--white-color);
    font-size: 2em;
}
.H_section4 P{
    color: var(--white-color);
    display: block;
    font-size: 19px;
    line-height: 26px;
    max-width: 100%;
}
.H_section4 .H_section4_card img{
    width: 30px;height: 30px;
}
.H_section4 .H_section4_card .h5{
    color: var(--white-color);
    font-size: 1.3em;
    text-indent: 10px;
}
/* ============================= */
.H_section5{
    background-color: var(--lightBlack);
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
}
.H_section5 .H_container5_div{
    background-color: var(--darkBlack-color);
    border-radius: 15px;
    display: block;
    width: 90%;
    height: auto;
    margin-top: 150px;
    margin-bottom: 20px;
    padding: 10px;
}

.H_section5 .H_section5_card{
    margin:5px ;
}
