.continerP{
    
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    color: aliceblue;
    background-color:#272C34    ;
    height:90px;
    width: 700px;
    border-radius:20px;
    margin-top:3%;

}

.Porinfo{
    
    width: 250px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    
}

.Porinfo .image7{
    width: 70px;
    height: 70px;
    border-radius:50px ;
    
}
.Porinfo .photo{
    border-radius:50px ;
    
    background-color: #d7dbe2;
    

} 
h6{
    font-size:xx-large
}
.Porinfo .ProName{
    display: flex;
    flex-direction: column;
    align-items:center;
    /* margin-left: 60px; */

}
.Hethinfo{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    overflow: hidden;
    padding-right: 20px;
}
.Hethinf2, .Hethinf3, .Hethinf4{
    text-align: center;
    padding-left: 20px;
    border-left:1px solid white ;
}
.Hethinf1{
    text-align: center;

}
.line{
   
    border-bottom:1px solid white ;
}