.password-input {
    position: relative;
    /*  Needed for icon positioning */
    display: flex;
    /* Align input and icon horizontally */
    align-items: center;
    /* Vertically center icon */

}

.password-input input {
    flex: 1;
    /* Make input element flexible to fill available space */
    padding: 10px;
    /* Add some padding */
    border: 1px solid #ccc;
    /* Add a border */
    border-radius: 4px;
    /* Add rounded corners */
    font-size: 16px;
    /* Set font size */
}

.password-input .visibility-icon {
    position: absolute;
    /* Position icon absolutely within the input container */
    right: 10px;
    /* Place icon 10px from the right edge */
    top: 60%;
    /* Vertically center icon */
    transform: translateY(-50%);
    /* Offset icon for vertical centering */
    cursor: pointer;
    /* Set cursor to pointer on hover */
    color: #ccc;
    /* Set icon color (gray) */
}